
.Picture_Paragraph_Container{

    margin-bottom: 1%;
    height: 100%


}

.Picture_Paragraph_Container p{

    margin-left: 2%;
    padding: 2%;
    color: #ffffff


}

.Picture_Paragraph_Container img{

    margin: 2%;
    max-width:75%;
    max-height: 50%;
    min-width: 25%;
    

}

@media(min-width:760px){

    .Picture_Paragraph_Container{

        display: flex;

    }

    .Picture_Paragraph_Container img{

        max-width: 25%;


    }


}

@media(max-width:760px){

    .Picture_Paragraph_Container{

        display: block;
        overflow: scroll;


    }

}
