.Developer_Div{

    background: blue;
    color: white;

}



.Picture_Paragraph_Container{

    border: 2px solid blue;
    background: black;
    margin-bottom: 1%;


}

.Picture_Paragraph_Container p{

    margin-left: 2%;


}

.Picture_Paragraph_Container img{

    margin: 2%;
    max-width:75%;
    max-height: 50%;
    

}

@media(min-width:760px){

    .Picture_Paragraph_Container{

        display: flex;

    }

    .Picture_Paragraph_Container img{

        max-width: 25%;


    }


}


.Blurb_Div{

    border-top: 2px solid blue;
    margin-top: 2%;

}