

.Header_Div{

    background-color: #000080;
    height: 19vh;

}

.Nav_Link{

    margin-right: 1rem;
    max-height: 100%;

}

h1{

    color:white;
    font-size: 2rem;
    max-height: 100%;


}

@media(max-width: 760px){

    .Header_Div{

        height: 10vh;


    }

}

