.HomePage_Div{

    background-color: #3C4142;

    min-height:100vh;
    flex: 1;

}

.Image_Container{

    max-width: 25%;
    max-height: 25%;

    margin-left: 2%;
    margin-top: 2%;
        
}

.Image_Container img{

    max-width: 100%;
    max-height: 100%;


}

.First_Paragraph_Container{

    margin-top: 6rem;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: left;

}

.First_Paragraph_Container p{

    color:white;


}

.First_Paragraph_Container a{

    color: yellow;

}

@media(min-width: 760px){

    .Headshot_and_Intro_Paragraph_Container{

        display:flex;
        

    }

}

@media(max-width: 760px){

    .Image_Container{

        margin: auto;
        max-width: 60%;
        padding-top: 2%;
        margin-bottom: 0;

    }

    .First_Paragraph_Container{

    margin-top: 0;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: center;

}


}
