.HomePage_Div{

    background-color: #3C4142;

    height:100%;
    flex: 1;

}

.Image_Container{

    max-width: 25%;
    max-height: 25%;

    margin-left: 2%;
    margin-top: 2%;
        
}

.Image_Container img{

    max-width: 100%;
    max-height: 100%;


}

.Headshot_and_Intro_Paragraph_Container{

    display:flex;
    

}

.First_Paragraph_Container{

    margin-top: 6rem;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: left;

}

.First_Paragraph_Container p{

    color:white;


}

.First_Paragraph_Container a{

    color: yellow;

}