.Button_Container{


    
    display: flex;
    max-width: 3rem;
    max-height: 3rem;
    align-items: center;
    justify-content: center;

    margin-bottom: 0.5em;

}

.Button_Image{

    width: 3rem;
    height: 3rem;

}